@use '../abstracts/' as a;

.section1 {
  display: grid;
  background-color: a.$clr-bg-dark;
  overflow: hidden;
  position: relative;
  min-width: 100%;
  min-height: 100vh;

  @include a.screen(smallScreen) {
    min-height: unset;
  }

  &__header {
    grid-area: 1/1/2/2;
    overflow: hidden;
  }

  &__logo {
    align-self: flex-start;
    min-width: 4.2rem;
    padding: 2rem;
    @include a.screen(smallScreen) {
    }
  }

  &__food {
    object-fit: cover;
    grid-area: 1/1/4/2;
    width: 100%;
    height: 100%;

    @include a.screen(smallScreen) {
      grid-area: 1/1/5/2;
      max-height: 80rem;
      height: unset;
    }
  }
  &__design {
    grid-area: 1/1/4/2;
    transform: scale(1.1);
    transform: translate(10%, 20%);
    position: absolute;
    right: 0;

    @include a.screen(smallScreen) {
      grid-area: 1/1/5/2;
      transform: scale(1.1);
      top: -13rem;
      right: -35rem;
    }
  }
  &__title {
    grid-area: 2/1/3/2;
    font-size: clamp(3rem, 12vw, 9.6rem);
    font-family: 'Lobster', sans-serif;
    color: a.$clr-accent;
    z-index: 1;
    justify-self: center;

    @include a.screen(smallScreen) {
      grid-area: 2/2/3/3;
      padding-left: min(5.5rem, 20vw);
      justify-self: start;
      // font-size: clamp(5rem, 12vw, 6rem);
    }
  }
  &__paragraph {
    font-size: clamp(1rem, 10vw, 2.1rem);
    color: a.$clr-font-light;
    grid-area: 2/1/3/2;
    align-self: center;
    padding-left: 36vw;
    z-index: 1;

    @include a.screen(smallScreen) {
      grid-area: 2/2/3/3;
      padding-left: min(5.5rem, 20vw);
      padding-right: min(20vw, 17rem);
      width: clamp(30rem, 50vw, 61rem);
      padding-top: min(6rem, 10vw);
    }
  }

  &__button {
    grid-area: 3/1/4/2;
    z-index: 1;
    justify-self: center;
    @include a.screen(smallScreen) {
      grid-area: 3/2/5/3;
      justify-self: start;
      // margin-left: min(5.5rem, 20vw);
    }
  }
}
