@use '../abstracts/' as a;

.section5 {
  display: grid;
  position: relative;
  overflow: hidden;
  min-height: 80rem;
  background-color: a.$clr-bg-dark;
  @include a.screen(smallScreen) {
    padding-top: 19rem;
    background-color: a.$clr-font-light;
    grid-template-rows: 1fr 33.5rem 1fr;
    grid-template-columns: 1fr minmax(73rem, 1fr);
  }

  &__image {
    grid-area: 1/1/2/2;
    width: clamp(24rem, 30vw, 47.6rem);
    aspect-ratio: 1;
    align-self: center;
    justify-self: center;
    z-index: 1;
    @include a.screen(smallScreen) {
      grid-area: 1/2/4/3;
      margin-left: 1rem;
      margin-right: 2rem;
    }
  }
  &__title {
    grid-area: 2/1/3/2;
    color: a.$clr-accent;
    z-index: 2;
    font-family: 'Lobster', sans-serif;
    justify-self: center;
    font-size: clamp(5rem, 9vw, 7rem);

    @include a.screen(smallScreen) {
      grid-area: 2/1/3/2;
      font-size: clamp(5rem, 3vw, 7rem);
      justify-self: start;
      padding-left: 13rem;
      padding-top: 2.6rem;
    }
  }

  &__paragraph {
    grid-area: 2/1/3/2;
    z-index: 2;
    color: a.$clr-font-light;
    justify-self: center;
    align-self: center;
    font-size: clamp(2rem, 10vw, 1.7rem);
    text-align: center;
    padding: 2rem 3rem;

    @include a.screen(smallScreen) {
      grid-area: 2/1/3/2;
      text-align: left;
      align-self: center;
      padding-left: 13rem;
    }
  }

  &__button {
    grid-area: 3/1/4/2;
    z-index: 1;
    justify-self: center;

    @include a.screen(smallScreen) {
      grid-area: 2/1/3/2;
      align-self: end;
      justify-self: start;
      margin-left: 13rem;
    }
  }

  &__design {
    grid-area: 2/1/4/2;
    transform: scale(2.8);
    position: absolute;
    bottom: -10rem;

    @include a.screen(smallScreen) {
      grid-area: 2/1/3/3;
      right: 10rem;
      top: -46rem;
      transform: scale(1.255);
    }
  }
}
