@use '../abstracts/' as a;

.section4 {
  display: flex;
  flex-direction: column;
  background-color: a.$clr-bg-dark;
  justify-content: center;
  align-items: center;
  color: a.$clr-font-light;
  @include a.screen(smallScreen) {
    padding-top: 10rem;
  }
  &__title {
    color: a.$clr-accent;
    font-family: 'Lobster', sans-serif;
    font-size: clamp(5rem, 9vw, 7rem);
  }
  &__paragraph {
    text-align: center;
    padding: 2rem 4rem;
    font-size: clamp(1rem, 6vw, 2.6rem);

    @include a.screen(smallScreen) {
      padding-top: 2.5rem;
      padding-left: 18vw;
      padding-right: 18vw;
    }
  }
  &__flex {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    gap: 2rem;

    @include a.screen(smallScreen) {
      flex-direction: row;
      width: min(108rem, 70vw);
      flex-wrap: wrap;
    }

    &--circle {
      width: min(13.3rem, 52vw);
      border: 5px solid a.$clr-font-light;
      border-radius: 50%;
      aspect-ratio: 1;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      @include a.screen(smallScreen) {
        width: min(22.3rem, 52vw);
      }
    }
    &--number {
      color: a.$clr-accent;
      font-size: clamp(1rem, 10vw, 2rem);

      @include a.screen(smallScreen) {
        font-size: clamp(1rem, 20vw, 3.5rem);
      }
    }
    &--text {
      font-size: clamp(1rem, 5vw, 2rem);
      text-transform: uppercase;

      @include a.screen(smallScreen) {
        font-size: clamp(1rem, 20vw, 3.5rem);
      }
    }
  }
}
